@-webkit-keyframes kill {
  0% {opacity: 0%;}

  100% {opacity: 100%;}
}

@-webkit-keyframes this {
  0% {opacity: 0%;}

  100% {opacity: 100%;}
}

@-webkit-keyframes foot {
  0% {opacity: 0%;}

  100% {opacity: 100%;}
}

@-webkit-keyframes thunder {

  0% {opacity: 100%;}

  25% {opacity: 0%}

  50% {opacity: 50%}

  100% {opacity: 100%;}
}


body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  opacity: 100%;
  animation-name: thunder;
  animation-duration: 0.8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode:both;
  animation-timing-function: ease-in-out;
}

  

  .f1 {
  position: absolute;
  top: 86%;
  left: 2%;
  width: 30%;
  animation-name: foot;
  animation-delay: 3.8s;
  animation-duration: 1s;
  -webkit-animation-fill-mode:both;
  animation-timing-function: ease-in-out;

  }

  .f2 {
  position: absolute;
  top: 84.3%;
  left: 90.5%;
  width: 8%;
  animation-name: foot;
  animation-delay: 3.8s;
  animation-duration: 1s;
  -webkit-animation-fill-mode:both;
  animation-timing-function: ease-in-out;
  }

  .kill {
  position: absolute;
  top: 35%;
  left: 22%;
  width: 55%;
  animation-name: kill;
  animation-delay: 3.1s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode:both;
  animation-timing-function: ease-in-out;

  }

 
  .this {
  position: absolute;
  top: 35%;
  left: 23%;
  width: 55%;
  animation-name: this;
  animation-delay: 3.4s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode:both;
  animation-timing-function: ease-in-out;
  }

  .music {
  position: absolute;
  top:5%;
  left: 3%;
  width: 10%;
  background-color: none;
  }


h1 {
   color: #FF8DAA;
}
 h1::before, h1::after {
   content: attr(data-heading);
   position: absolute;
   left: 0;
   overflow: hidden;
}
 h1::before {
   height: 50%;
   color: white;
}
 h1::after {
   transform: translateX(-10px);
   height: 49%;
   color: #FF8DAA;
}
 h1::after {
   transform: translateX(0);
   animation: fracture 0.5s;
   animation-delay: 4s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

 @keyframes fracture {
   0% {
     transform: translateX(0);
  }
   50% {
     transform: translateX(-45px);  
  }
  100% {
     transform: translateX(-45px);  
  }
}
 html {
   height: 100vh;
}
 body {
   font-family: "Futura", sans-serif;
   height: 100vh;
}
 h1 {
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   margin: 0;
   font-size: 10vw;
   font-weight: 760;
   text-transform: uppercase;
}